PORT=5050

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# GitHub API
GITHUB_TOKEN=your_github_personal_access_token
